    <%- include('aside') %>

    <footer id="site-footer"> <span id="site-credit">© 2020 Info Evry. All Rights Reserved.</span></footer>

    <script defer src="js/script.js"></script>
    <script defer src="js/aemi.js"></script>
    <script defer src="js/edt.js"></script>
    <script defer src="js/pwa.js"></script>
</body>

</html>