<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Evry</title>
    <meta name="description" content="Site internet des etudiants du département informatique d'Evry">
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="img/icons/cropped-infoueve-logo-3-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/icons/cropped-infoueve-logo-3-192x192.png" sizes="192x192">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#000000">
    <%- include('./script') %>
</head>