<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Evry</title>
    <meta name="description" content="Site internet des etudiants du département informatique d'Evry">
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicons/cropped-infoueve-logo-3-32x32.png" sizes="32x32">
    <link rel="icon" href="img/favicons/cropped-infoueve-logo-3-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="img/favicons/cropped-infoueve-logo-3-180x180.png">
    <meta name="msapplication-TileImage" content="img/favicons/cropped-infoueve-logo-3-270x270.png">
</head>