<%- include('includes/head') %>

<body class="color-scheme-auto singular header-adaptative header-auto-hide color-scheme-dark">
    <%- include('includes/header') %>

    <main id="site-content">
        <div id="main-content">
            <article class="entry">
                <header class="post-header">
                    <div class="post-info">
                        <h1 class="post-title">Contact</h1>
                    </div>
                </header>
                <main class="post-content">
                    <p>Si vous voulez nous contacter, veuillez utiliser le formulaire ci-dessous ou envoyez un mail
                        à&nbsp;: <a class="mailprof" data-pread="contact" data-postad="info-evry.fr"
                            href="javascript:void(0)" rel="noopener"><span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span><span
                                class="not-screen-reader-text">contact</span><span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span>@<span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span><span
                                class="not-screen-reader-text">info-evry.fr</span></a>.</p>
                    <p>If you want to contact, us please leave a reply by using the form below or send a mail to&nbsp;:
                        <a class="mailprof" data-pread="contact" data-postad="info-evry.fr" href="javascript:void(0)"
                            rel="noopener"><span class="screen-reader-text">D2V2BGDnRxjrFUnH</span><span
                                class="not-screen-reader-text">contact</span><span
                                class="screen-reader-text">D2V2BGDnRxjrFUnH</span>@<span
                                class="screen-reader-text">D2V2BGDnRxjrFUnH</span><span
                                class="not-screen-reader-text">info-evry.fr</span></a>.</p>
                </main>
                <footer class="post-footer"></footer>
            </article>
        </div>
    </main>

    <%- include('includes/footer') %>