<%- include('includes/head') %>

<body class="color-scheme-auto singular header-adaptative header-auto-hide color-scheme-dark">
    <%- include('includes/header') %>

    <main id="site-content">
        <div id="main-content">
            <article class="entry">
                <header class="post-header">
                    <div class="post-info">
                        <h1 class="post-title">Contact</h1>
                    </div>
                </header>
                <main class="post-content">
                    <form action="???" class="contact-form">
                        <label for="name">Nom<sup>*</sup></label><br>
                        <input type="text" id="name" name="name" placeholder="Votre nom.." required>

                        <label for="pathway">Filière</label><br>
                        <input type="text" id="pathway" name="pathway" placeholder="e. g. L1 INFO par ex.">
                        <!--nb. 'pathway' ~ 'filière' in english, to adapt to our need (may be a select list, or whatever else), maybe useless 
                                (ex. L1 INFO, M1 MIAGE ...) to identify easily message sender.-->

                        <label for="subject">Objet<sup>*</sup></label><br>
                        <input type="text" id="subject" name="subject" placeholder="Ce dont vous aller parler.."
                            required>
                        <label for="message">Message<sup>*</sup></label><br>
                        <textarea id="subject" name="subject" placeholder="Ce que vous voulez nous dire.."
                            required></textarea>
                        <p>(Les champs indiqués par un astérisque <sup>*</sup> sont obligatoires.)</p>

                        <input type="submit" value="Envoyer">
                    </form>

                    <hr>
                    <p>Si vous voulez nous contacter, veuillez utiliser le formulaire ci-dessous ou envoyez un mail
                        à&nbsp;: <a class="mailprof" data-pread="contact" data-postad="info-evry.fr"
                            href="javascript:void(0)" rel="noopener"><span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span><span
                                class="not-screen-reader-text">contact</span><span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span>@<span
                                class="screen-reader-text">0Vx6HRiXx6D1Jpf5</span><span
                                class="not-screen-reader-text">info-evry.fr</span></a>.</p>
                    <p>If you want to contact, us please leave a reply by using the form below or send a mail to&nbsp;:
                        <a class="mailprof" data-pread="contact" data-postad="info-evry.fr" href="javascript:void(0)"
                            rel="noopener"><span class="screen-reader-text">D2V2BGDnRxjrFUnH</span><span
                                class="not-screen-reader-text">contact</span><span
                                class="screen-reader-text">D2V2BGDnRxjrFUnH</span>@<span
                                class="screen-reader-text">D2V2BGDnRxjrFUnH</span><span
                                class="not-screen-reader-text">info-evry.fr</span></a>.</p>
                </main>
                <footer class="post-footer"></footer>
            </article>
        </div>
    </main>

    <%- include('includes/footer') %>