<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Evry</title>
    <meta name="description" content="Site internet des etudiants du département informatique d'Evry">
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicons/cropped-infoueve-logo-3-32x32.png" sizes="32x32">
    <link rel="icon" href="img/favicons/cropped-infoueve-logo-3-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="img/favicons/cropped-infoueve-logo-3-180x180.png">
    <meta name="msapplication-TileImage" content="img/favicons/cropped-infoueve-logo-3-270x270.png">
</head>

<body class="home color-scheme-auto singular header-adaptative header-auto-hide color-scheme-dark">
    <header id="site-header">
        <a class="skip-link focusable screen-reader-text button" href="#post-content" tabindex="0">Skip to content</a>
        <div id="site-branding"><strong id="site-title" class="site-title screen-reader-text h1">Info Evry</strong>
            <div id="site-logo">
                <div class="light-scheme-logo">
                    <a href="/" class="custom-logo-link" title="Info Evry • Home" rel="home">
                        <img src="img/infoevry-h-lsc.png.webp" alt="Info Evry Logo for Light Scheme" height="40"
                            loading="lazy">
                    </a>
                </div>
                <div class="dark-scheme-logo">
                    <a href="/" class="custom-logo-link" title="Info Evry • Home" rel="home">
                        <img src="img/infoevry-h-dsc.png.webp" alt="Info Evry Logo for Dark Scheme" height="40"
                            loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <ul id="header-menu" class="header-menu">
            <li class="menu-item"><a href="/" aria-current="page">Accueil</a></li>
            <li class="menu-item menu-item-has-children">
                <a href="/cours-profs">Cours &amp; Profs</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/outils">Outils</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="/contact">Contact</a></li>
        </ul>
        <button id="navigation-toggle" title="Menu" data-target="navigation-wrapper" class="no-style toggle">
            <span class="top-bar"></span> <span class="middle-bar"></span> <span class="bottom-bar"></span>
        </button>
        <button id="search-toggle" title="Search" class="no-style toggle" data-target="search-wrapper">
            <span class="search-icon"></span>
        </button>
    </header>

    <main id="site-content">
        <div id="main-content" style="margin-top:0;">
            <article class="entry">
                <header class="post-header">
                    <div class="post-info">
                        <h1 class="post-title">Cours &amp; Profs</h1>
                    </div>
                </header>
                <main class="post-content">
                    <h3>Secrétariats</h3>
                    <details>
                        <summary>Adélia SOARES DA COSTA – Licence 3</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="adelia.soaresdacosta" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">cVg8g29QZzuxIvVT</span><span
                                        class="not-screen-reader-text">adelia.soaresdacosta</span><span
                                        class="screen-reader-text">cVg8g29QZzuxIvVT</span>@<span
                                        class="screen-reader-text">cVg8g29QZzuxIvVT</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Martha VAN DER HOST – Master</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="martha.vanderhost" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">Dwd4LmzSo0loLadA</span><span
                                        class="not-screen-reader-text">martha.vanderhost</span><span
                                        class="screen-reader-text">Dwd4LmzSo0loLadA</span>@<span
                                        class="screen-reader-text">Dwd4LmzSo0loLadA</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                    <h3>Professeurs</h3>
                    <details>
                        <summary>Eric ANGEL</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="eric.angel" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">bAobUaoSqjEyZWI7</span><span
                                        class="not-screen-reader-text">eric.angel</span><span
                                        class="screen-reader-text">bAobUaoSqjEyZWI7</span>@<span
                                        class="screen-reader-text">bAobUaoSqjEyZWI7</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Francesco BELARDINELLI</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="francesco.belardinelli" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">yurlJMetULC5dxfM</span><span
                                        class="not-screen-reader-text">francesco.belardinelli</span><span
                                        class="screen-reader-text">yurlJMetULC5dxfM</span>@<span
                                        class="screen-reader-text">yurlJMetULC5dxfM</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~belardinelli/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~belardinelli/Teaching.html" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Lélia BLIN</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="lelia.blin" data-postad="lip6.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">kgZOf5TlOq6BvlcP</span><span
                                        class="not-screen-reader-text">lelia.blin</span><span
                                        class="screen-reader-text">kgZOf5TlOq6BvlcP</span>@<span
                                        class="screen-reader-text">kgZOf5TlOq6BvlcP</span><span
                                        class="not-screen-reader-text">lip6.fr</span></a><br><a class="mailprof"
                                    data-pread="lelia.blin" data-postad="univ-evry.fr" href="javascript:void(0);"
                                    rel="noopener"><span class="screen-reader-text">ZeFPTzKD1cj51l2g</span><span
                                        class="not-screen-reader-text">lelia.blin</span><span
                                        class="screen-reader-text">ZeFPTzKD1cj51l2g</span>@<span
                                        class="screen-reader-text">ZeFPTzKD1cj51l2g</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www-npa.lip6.fr/blin/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                            <li><a href="https://www-npa.lip6.fr/blin/enseignements/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Serenella CERRITO</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="serenella.cerrito" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">6jIVWCn4ZFC1jZRR</span><span
                                        class="not-screen-reader-text">serenella.cerrito</span><span
                                        class="screen-reader-text">6jIVWCn4ZFC1jZRR</span>@<span
                                        class="screen-reader-text">6jIVWCn4ZFC1jZRR</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~serena/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                            <li>Ressources : <a href="https://www.ibisc.univ-evry.fr/~serena/teaching1617.html"
                                    target="_blank" rel="nofollow noopener noreferrer">Page 1</a>, <a
                                    href="https://www.ibisc.univ-evry.fr/~serena/teach11-12-13.html" target="_blank"
                                    rel="nofollow noopener noreferrer">Page 2</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Philippe DECLERCQ</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="philippe.declercq" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">PIV6MmmMgJRSLqbI</span><span
                                        class="not-screen-reader-text">philippe.declercq</span><span
                                        class="screen-reader-text">PIV6MmmMgJRSLqbI</span>@<span
                                        class="screen-reader-text">PIV6MmmMgJRSLqbI</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="http://declercq.e-monsite.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos &amp; Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Franck DELAPLACE</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="franck.delaplace" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">Oy164iKwMeZd8dtV</span><span
                                        class="not-screen-reader-text">franck.delaplace</span><span
                                        class="screen-reader-text">Oy164iKwMeZd8dtV</span>@<span
                                        class="screen-reader-text">Oy164iKwMeZd8dtV</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~delapla/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                            <li><a href="https://www.lri.fr/~filliatr/ens/compil/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources – Cours Pr. FILLIATRE</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Jean-Marc DELOSME</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="delosme" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">WnlekKwdv2GfAvSa</span><span
                                        class="not-screen-reader-text">delosme</span><span
                                        class="screen-reader-text">WnlekKwdv2GfAvSa</span>@<span
                                        class="screen-reader-text">WnlekKwdv2GfAvSa</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~delosme/" target="_blank"
                                    rel="nofollow noopener noreferer noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Bachir DJAFRI</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="bachir.djafri" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">BSS89cDuGpt4Z5H8</span><span
                                        class="not-screen-reader-text">bachir.djafri</span><span
                                        class="screen-reader-text">BSS89cDuGpt4Z5H8</span>@<span
                                        class="screen-reader-text">BSS89cDuGpt4Z5H8</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~djafri/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos &amp; Ressources</a></li>
                            <li>JAVA: <a href="https://uevecloud.univ-evry.fr/d/2fe6e6ff2c514218b6c4/" target="_blank"
                                    rel="&quot;nofollow noopener noreferrer" noopener="">Licence</a> – <a
                                    href="https://uevecloud.univ-evry.fr/d/15ddf97b216449cb8853/" target="_blank"
                                    rel="&quot;nofollow noopener noreferrer" noopener="">Master</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Mansour ELGHOUL</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="mansour.elghoul" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">wOrtajcgxyFR08a3</span><span
                                        class="not-screen-reader-text">mansour.elghoul</span><span
                                        class="screen-reader-text">wOrtajcgxyFR08a3</span>@<span
                                        class="screen-reader-text">wOrtajcgxyFR08a3</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Blaise HANCZAR</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="blaise.hanczar" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">rKwKCtHqOs5x7lwR</span><span
                                        class="not-screen-reader-text">blaise.hanczar</span><span
                                        class="screen-reader-text">rKwKCtHqOs5x7lwR</span>@<span
                                        class="screen-reader-text">rKwKCtHqOs5x7lwR</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://sites.google.com/site/bhanczarhomepage/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Guillaume HUTZLER</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="guillaume.hutzler" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">Tkv3nj3q7QWTlNbm</span><span
                                        class="not-screen-reader-text">guillaume.hutzler</span><span
                                        class="screen-reader-text">Tkv3nj3q7QWTlNbm</span>@<span
                                        class="screen-reader-text">Tkv3nj3q7QWTlNbm</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~hutzler/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Sergiu IVANOV</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="sergiu.ivanov" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">mpaEekcu4CJYX25X</span><span
                                        class="not-screen-reader-text">sergiu.ivanov</span><span
                                        class="screen-reader-text">mpaEekcu4CJYX25X</span>@<span
                                        class="screen-reader-text">mpaEekcu4CJYX25X</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li>Ressources : <a href="http://lacl.fr/~sivanov/" target="_blank"
                                    rel="nofollow noopener noreferrer">LACL</a>, <a
                                    href="http://ibisc.univ-evry.fr/~sivanov/" target="_blank"
                                    rel="nofollow noopener noreferrer">IBISC</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Jean-Christophe JANODET</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="janodet" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">VMn5KEiUfMnRhCot</span><span
                                        class="not-screen-reader-text">janodet</span><span
                                        class="screen-reader-text">VMn5KEiUfMnRhCot</span>@<span
                                        class="screen-reader-text">VMn5KEiUfMnRhCot</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a class="mailprof" data-pread="jeanchristophe.janodet" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">Ws7a0fwv7VJwLMre</span><span
                                        class="not-screen-reader-text">jeanchristophe.janodet</span><span
                                        class="screen-reader-text">Ws7a0fwv7VJwLMre</span>@<span
                                        class="screen-reader-text">Ws7a0fwv7VJwLMre</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~janodet/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Hanna KLAUDEL</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="hanna.klaudel" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">9iH92pLFR3NaXpbb</span><span
                                        class="not-screen-reader-text">hanna.klaudel</span><span
                                        class="screen-reader-text">9iH92pLFR3NaXpbb</span>@<span
                                        class="screen-reader-text">9iH92pLFR3NaXpbb</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~klaudel/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Franck LEDOUX</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="franck.ledoux" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">A4Ye28Q9AiIXlzA5</span><span
                                        class="not-screen-reader-text">franck.ledoux</span><span
                                        class="screen-reader-text">A4Ye28Q9AiIXlzA5</span>@<span
                                        class="screen-reader-text">A4Ye28Q9AiIXlzA5</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Patrice LUCAS</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="patrice.lucas" data-postad="cea.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">OK7UDcsE48h9DlxF</span><span
                                        class="not-screen-reader-text">patrice.lucas</span><span
                                        class="screen-reader-text">OK7UDcsE48h9DlxF</span>@<span
                                        class="screen-reader-text">OK7UDcsE48h9DlxF</span><span
                                        class="not-screen-reader-text">cea.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Kim Thang NGUYEN</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="thang" data-postad="ibisc.fr" href="javascript:void(0);"
                                    rel="noopener"><span class="screen-reader-text">dcdTuOXXX6tWK4GU</span><span
                                        class="not-screen-reader-text">thang</span><span
                                        class="screen-reader-text">dcdTuOXXX6tWK4GU</span>@<span
                                        class="screen-reader-text">dcdTuOXXX6tWK4GU</span><span
                                        class="not-screen-reader-text">ibisc.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~thang/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Pascal PETIT</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="pascal.petit" data-postad="info.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">y9TLEEwwjipQxyqp</span><span
                                        class="not-screen-reader-text">pascal.petit</span><span
                                        class="screen-reader-text">y9TLEEwwjipQxyqp</span>@<span
                                        class="screen-reader-text">y9TLEEwwjipQxyqp</span><span
                                        class="not-screen-reader-text">info.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~petit/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Franck POMMEREAU</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="franck.pommereau" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">FQFA08XnaSGuhU4x</span><span
                                        class="not-screen-reader-text">franck.pommereau</span><span
                                        class="screen-reader-text">FQFA08XnaSGuhU4x</span>@<span
                                        class="screen-reader-text">FQFA08XnaSGuhU4x</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~fpommereau/" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Damien PLOIX</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="damien.ploix" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">ujw9oUMlEVt9wADN</span><span
                                        class="not-screen-reader-text">damien.ploix</span><span
                                        class="screen-reader-text">ujw9oUMlEVt9wADN</span>@<span
                                        class="screen-reader-text">ujw9oUMlEVt9wADN</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="http://damien.ploix.free.fr" target="_blank"
                                    rel="nofollow noopener noreferrer">Ressources</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Damien REGNAULT</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="damien.regnault" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">XNGAM5AsJdUjtoqw</span><span
                                        class="not-screen-reader-text">damien.regnault</span><span
                                        class="screen-reader-text">XNGAM5AsJdUjtoqw</span>@<span
                                        class="screen-reader-text">XNGAM5AsJdUjtoqw</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~dregnault/" target="_blank"
                                    rel="nofollow noopener noreferrer">Info</a></li>
                            <li><i>Computational Complexity: a modern approach, Sanjeev Arora, Boaz Barak</i> —&nbsp;<a
                                    href="http://theory.cs.princeton.edu/complexity/" target="_blank"
                                    rel="nofollow noopener noreferrer">Lien vers la ressource&nbsp;→</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Valérie RIOU</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="valerie.riou" data-postad="univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">vHTwPn2ttKzYi9AK</span><span
                                        class="not-screen-reader-text">valerie.riou</span><span
                                        class="screen-reader-text">vHTwPn2ttKzYi9AK</span>@<span
                                        class="screen-reader-text">vHTwPn2ttKzYi9AK</span><span
                                        class="not-screen-reader-text">univ-evry.fr</span></a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Fariza TAHI</summary>
                        <ul>
                            <li><a class="mailprof" data-pread="tahi" data-postad="ibisc.univ-evry.fr"
                                    href="javascript:void(0);" rel="noopener"><span
                                        class="screen-reader-text">PRIR2ldZiwIH2aLI</span><span
                                        class="not-screen-reader-text">tahi</span><span
                                        class="screen-reader-text">PRIR2ldZiwIH2aLI</span>@<span
                                        class="screen-reader-text">PRIR2ldZiwIH2aLI</span><span
                                        class="not-screen-reader-text">ibisc.univ-evry.fr</span></a></li>
                            <li><a href="https://www.ibisc.univ-evry.fr/~tahi/" target="_blank"
                                    rel="nofollow noopener noreferrer">Infos</a></li>
                        </ul>
                    </details>
                    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                    <h3>Cours</h3>
                    <details>
                        <summary>APPAUTO – Apprentissage Automatique</summary>
                        <ul>
                            <li><a href="https://sites.google.com/site/bhanczarhomepage/teaching/app-auto-m1"
                                    target="_blank" rel="noreferer noopener nofollow noreferrer">Apprentissage
                                    Automatique – M1 – Blaise HANCZAR</a></li>
                            <li><a href="https://openclassrooms.com/en/courses/1393696-effectuez-vos-etudes-statistiques-avec-r"
                                    target="_blank" rel="noreferer noopener nofollow noreferrer">Apprendre le Langage
                                    R</a></li>
                            <li><a href="http://zoonek2.free.fr/UNIX/48_R/all.html" target="_blank"
                                    rel="noreferer noopener nofollow noreferrer">Statistiques avec R</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>BADAP – Base de données Approfondies</summary>
                        <ul>
                            <li><a href="https://www.dbis.informatik.uni-goettingen.de/Mondial/" target="_blank"
                                    rel="noreferer noopener nofollow noreferrer">Mondial – XML</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>SYSMULAG – Systèmes Multi-Agents et Intelligence Distribuée</summary>
                        <ul>
                            <li><a href="https://www.wolfram.com/mathematica/" target="_blank"
                                    rel="noreferer noopener nofollow noreferrer">Wolfram Mathematica – Théorie des
                                    Jeux</a></li>
                            <li><a href="https://ccl.northwestern.edu/netlogo/" target="_blank"
                                    rel="noreferer noopener nofollow noreferrer">NetLogo – Systèmes Multi-Agents</a>
                            </li>
                        </ul>
                    </details>
                </main>
                <footer class="post-footer"></footer>
            </article>
        </div>
    </main>

    <aside id="site-aside">
        <nav id="navigation-wrapper" class="wrapper">
            <div class="header-block no-overlay-menu">
                <ul id="overlay-header-menu" class="overlay-header-menu menu">
                    <li class="menu-item"><a href="/" aria-current="page">Accueil</a></li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/cours-profs">Cours &amp; Profs</a>
                        <div class="toggle">
                            <div class="toggle-element"></div>
                        </div>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="/outils">Outils</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div id="header-settings" class="header-block">
                <form class="settings-set" id="color-scheme-selector">
                    <div class="color-scheme-option">
                        <input type="radio" id="light-scheme-option" class="color-scheme-input"
                            name="color-scheme-option">
                        <label for="light-scheme-option" class="color-scheme-label">Light</label>
                    </div>
                    <div class="color-scheme-option">
                        <input type="radio" id="dark-scheme-option" class="color-scheme-input"
                            name="color-scheme-option">
                        <label for="dark-scheme-option" class="color-scheme-label">Dark</label>
                    </div>
                    <div class="color-scheme-option">
                        <input type="radio" id="auto-scheme-option" class="color-scheme-input"
                            name="color-scheme-option" checked="">
                        <label for="auto-scheme-option" class="color-scheme-label">Auto</label>
                    </div>
                </form>
            </div>
        </nav>
        <div id="search-wrapper" class="wrapper">
            <form role="search" method="get" class="search-form" action="https://info-evry.fr/">
                <div id="search-container">
                    <label class="screen-reader-text" for="search-input-1">Search for …</label>
                    <input type="search" id="search-input-1" class="search-input" placeholder="Search for …" value=""
                        name="s" title="Search for …" required="">
                    <button type="submit" class="search-submit no-style" title="Search">
                        <span class="search-icon"></span>
                    </button>
                </div>
            </form>
        </div>
    </aside>

    <footer id="site-footer"> <span id="site-credit">© 2020 Info Evry. All Rights Reserved.</span></footer>

    <script defer src="js/script.js"></script>
    <script defer src="js/aemi.js"></script>
</body>

</html>