<%- include('includes/head') %>

<body class="home color-scheme-auto singular header-adaptative header-auto-hide color-scheme-light">
    <%- include('includes/header') %>

    <main id="site-content">
        <div id="main-content">
            <article class="entry">
                <main class="post-content">
					<ul class="element el-utilities">
						<li class="element el-utility">
							<a id="el-utility-edt" href="javascript:void(0);">
								<div class="utility-logos">
									<img class="el-utility-content dark-scheme-icon" src="img/icons/calandar-icon-dsc.png" alt="calandar icon for dark scheme" width="30" height="30">
									<img class="el-utility-content light-scheme-icon" src="img/icons/calandar-icon-lsc.png" alt="calandar icon for ligh scheme" width="30" height="30">
								</div>
								<h2 class="el-utility-content">EDT</h2>
							</a>
						</li>

						<li class="element el-utility">
							<a id="el-utility-weather" href="javascript:void(0);">
								<div class="utility-logos">
									<img class="el-utility-content dark-scheme-icon" src="img/icons/weather-icon-dsc.png" alt="weather icon for dark scheme" width="30" height="30"/>
									<img class="el-utility-content light-scheme-icon" src="img/icons/weather-icon-lsc.png" alt="weather icon for light scheme" width="30" height="30"/>
								</div>
								<h2 class="el-utility-content">METEO</h2>
							</a>
						</li>

						<li class="element el-utility">
							<a id="el-utility-transport" href="javascript:void(0);">
								<div class="utility-logos">
									<img class="el-utility-content dark-scheme-icon" src="img/icons/transport-icon-dsc.png" alt="transport icon for dark scheme" width="30" height="30">
									<img class="el-utility-content light-scheme-icon" src="img/icons/transport-icon-lsc.png" alt="transport icon for light scheme" width="30" height="30">
								</div>
								<h2 class="el-utility-content">TRAJET</h2>
							</a>
						</li>
					</ul>

                    <a class="element" href="https://ecampus.paris-saclay.fr" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <h2 class="el-title">ECAMPUS</h2>
                        <div class="el-content">Accéder à la plateforme officielle&nbsp;→</div>
                    </a>
                    <a class="element" href="https://portailevry.blogspot.com/" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <h2 class="el-title">Portail Evry</h2>
                        <div class="el-content">Accéder au portail informationnel&nbsp;→</div>
                    </a>
                    <a class="element"
                        href="https://drive.google.com/drive/folders/168FWXFRcTvqhPUSjJeY_36b0veZ2olWa?usp=sharing"
                        target="_blank" rel="noopener noreferrer nofollow">
                        <h2 class="el-title">Google Drive</h2>
                        <div class="el-content">Accéder au contenu partagé&nbsp;→</div>
                    </a>
                    <a class="element" href="https://t.me/info_evry" target="_blank" rel="noopener noreferrer nofollow">
                        <h2 class="el-title">Groupe Telegram</h2>
                        <div class="el-content">Participer au partage d’informations des étudiants&nbsp;→</div>
                    </a>
                    <a class="element" href="https://discord.gg/Vs68DHY" target="_blank"
                        rel="noopener noreferrer nofollow">
                        <h2 class="el-title">Serveur Discord</h2>
                        <div class="el-content">Participer au partage d’informations des étudiants&nbsp;→</div>
                    </a>
                    <a class="element" href="/contact">
                        <h2 class="el-title">Contact</h2>
                        <div class="el-content">Contacter les étudiants&nbsp;→</div>
                    </a>
                </main>
                <footer class="post-footer"></footer>
            </article>
		</div>

		<div class="modal-windows-container">
			<div class="el-modal-bg"></div>
			<div class="el-modal-window element">
				<a href="javascript:void(0);" class="el-modal-close">&times;</a>
				<div id="el-modal-edt">
					<div id="edt-container">
						<div id="edt-form">
							<div class="grade-block">
								<select id="edt-grade">
									<optgroup label="M2">
										<option value="68419887" selected="">M2 SA</option>
										<option value="68419888">M2 SR</option>
										<option value="68419883">M2 MIAGE I.</option>
										<option value="6">M2 MIAGE A.</option>
									</optgroup>
									<optgroup label="M1">
										<option value="68425740">M1 INFO G1</option>
										<option value="68425741">M1 INFO G2</option>
										<option value="68426833">M1 INFO SA</option>
										<option value="68426834">M1 INFO SR</option>
										<option value="68419919">M1 MIAGE I.</option>
										<option value="68419886">M1 MIAGE A.</option>
									</optgroup>
									<optgroup label="L3">
										<option value="68419893">L3 SA</option>
										<option value="68419892">L3 SR</option>
										<option value="68419891">L3 MIAGE I.</option>
										<option value="7">L3 MIAGE A.</option>
										<option value="68426751">L3 DOUBLE</option>
									</optgroup>
									<optgroup label="L2">
										<option value="68426361">L2 INFO G1</option>
										<option value="68426362">L2 INFO G2</option>
										<option value="68426891">L2 INFO G3</option>
										<option value="68426987">L2 INFO G4</option>
									</optgroup>
									<optgroup label="L1">
										<option value="18">L1 MI G1</option>
										<option value="8">L1 MI G2</option>
										<option value="68426495">L1 MI G3</option>
										<option value="68426747">L1 MI G4</option>
										<option value="68426748">L1 MI G5</option>
										<option value="68426749">L1 MI G6</option>
									</optgroup>
								</select>
								<input type="button" id="set-default-cookie" value="Conserver ce choix">
							</div>
							<div class="date-block">
								<input type="button" id="edt-comeback" value="Aujourd'hui">
								<input type="button" class="edt-backward" value="-">
								<input type="button" class="edt-forward" value="+">
								<input type="number" id="edt-week" min="1" max="52">
								<input type="number" id="edt-year" min="2017" max="2099">
							</div>
						</div>
						<div id="edt-img-cont"><img id="edt-img"
								src="https://edt.univ-evry.fr/vue_etudiant_horizontale.php?current_year=2020&amp;current_student=68419887&amp;current_week=37&amp;lar=1920&amp;hau=1080"
								alt="EDT">
						</div>
						<div id="modal-bar">
							<div class="edt-backward">←</div>
							<div id="modal-close">fermer</div>
							<div class="edt-forward">→</div>
						</div>
						<div id="edt-info">Cliquer sur l’image pour agrandir.</div>
					</div>
				</div>
				<div id="el-modal-weather"><p>Météo modale test</p></div>
				<div id="el-modal-transport"><p>Transport modale test</p></div>
			</div>
		</div>
    </main>

    <%- include('includes/footer') %>