<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Evry</title>
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
            Test
    </header>
    
    <main>
        <div>
            <a class="element" href="">Test</a>
            <a class="element" href="https://ecampus.paris-saclay.fr" target="_blank" rel="noopener noreferrer nofollow">
                <h2 class="el-title">ECAMPUS</h2>
                <div class="el-content">Accéder à la plateforme officielle&nbsp;→</div>
            </a>
        </div>
    </main>
    <footer><span>© 2020 Info Evry. All Rights Reserved.</span></footer>
</body>

</html>