<%- include('includes/head') %>

<body class="color-scheme-auto singular header-adaptative header-auto-hide color-scheme-dark">
    <%- include('includes/header') %>

    <main id="site-content">
        <div id="main-content">
            <article class="entry">
                <header class="post-header">
                    <div class="post-info">
                        <h1 class="post-title">Outils</h1>
                    </div>
                </header>
                <main class="post-content">
                    <details>
                        <summary>Aide</summary>
                        <ul>
                            <li><a href="https://jgthms.com/javascript-in-14-minutes/" target="_blank"
                                    rel="nofollow noopener noreferrer">JavaScript in 14 minutes</a> by Jeremy Thomas
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>Indispensables</summary>
                        <ul>
                            <li><a href="https://kapeli.com/dash" target="_blank"
                                    rel="nofollow noopener noreferrer">Dash</a></li>
                            <li><a href="https://repl.it/" target="_blank"
                                    rel="nofollow noopener noreferrer">Repl.it</a></li>
                        </ul>
                    </details>
                    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                    <details>
                        <summary>Editeurs</summary>
                        <ul>
                            <li><a href="https://atom.io/" target="_blank" rel="nofollow noopener noreferrer">Atom</a>
                            </li>
                            <li><a href="http://brackets.io/" target="_blank"
                                    rel="nofollow noopener noreferrer">Brackets</a></li>
                            <li><a href="http://codeblocks.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Code::Blocks</a></li>
                            <li><a href="http://www.eclipse.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Eclipse</a></li>
                            <li><a href="https://www.gnu.org/software/emacs/" target="_blank"
                                    rel="nofollow noopener noreferrer">GNU Emacs</a></li>
                            <li><a href="https://www.sublimetext.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">Sublime Text</a></li>
                            <li><a href="https://code.visualstudio.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">Visual Studio Code</a></li>
                            <li><a href="https://developer.apple.com/xcode/" target="_blank"
                                    rel="nofollow noopener noreferrer">Xcode</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Gestionnaires de Packages</summary>
                        <ul>
                            <li><a href="https://brew.sh/" target="_blank"
                                    rel="nofollow noopener noreferrer">Homebrew</a></li>
                            <li><a href="https://www.macports.org/" target="_blank"
                                    rel="nofollow noopener noreferrer">MacPorts</a></li>
                            <li><a href="https://chocolatey.org/" target="_blank"
                                    rel="nofollow noopener noreferrer">Chocolatey</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Langages</summary>
                        <ul>
                            <li><a href="http://www.oracle.com/technetwork/java/javase/overview/index.html"
                                    target="_blank" rel="nofollow noopener noreferrer">JAVA</a></li>
                            <li><a href="https://docs.oracle.com/javase/tutorial/" target="_blank"
                                    rel="nofollow noopener noreferrer">JAVA – Tutorials</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://ocaml.org/docs/install.fr.html" target="_blank"
                                    rel="nofollow noopener noreferrer">OCaml</a></li>
                            <li><a href="https://processing.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Processing</a></li>
                            <li><a href="https://www.python.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Python</a></li>
                            <li><a href="https://www.apple.com/fr/swift/" target="_blank"
                                    rel="nofollow noopener noreferrer">Swift</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>LaTeX</summary>
                        <ul>
                            <li><a href="https://www.latex-project.org" target="_blank"
                                    rel="nofollow noopener noreferrer">LaTeX Project</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://tug.org" target="_blank" rel="nofollow noopener noreferrer">TeX Users
                                    Group</a></li>
                        </ul>
                        <ul>
                            <li><a href="http://www.xm1math.net/texmaker/" target="_blank"
                                    rel="nofollow noopener noreferrer">TeXmaker</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://www.authorea.com" target="_blank"
                                    rel="nofollow noopener noreferrer">Authorea</a></li>
                            <li><a href="https://www.overleaf.com" target="_blank"
                                    rel="nofollow noopener noreferrer">Overleaf</a></li>
                            <li><a href="https://www.sharelatex.com" target="_blank"
                                    rel="nofollow noopener noreferrer">ShareLaTeX</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Modélisation Objet</summary>
                        <ul>
                            <li><a href="http://staruml.io" target="_blank"
                                    rel="nofollow noopener noreferrer">StarUML</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Outils en ligne</summary>
                        <ul>
                            <li><a href="http://codepen.io" target="_blank"
                                    rel="nofollow noopener noreferrer">CodePen</a></li>
                            <li><a href="https://jsbin.com/" target="_blank" rel="nofollow noopener noreferrer">JS
                                    Bin</a></li>
                            <li><a href="https://jsfiddle.net" target="_blank"
                                    rel="nofollow noopener noreferrer">JSFiddle</a></li>
                            <li><a href="https://thimble.mozilla.org/fr/" target="_blank"
                                    rel="nofollow noopener noreferrer">Thimble</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>SGBD</summary>
                        <ul>
                            <li><a href="https://www.db-fiddle.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">DB-Fiddle</a></li>
                        </ul>
                    </details>
                </main>
                <footer class="post-footer"></footer>
            </article>
        </div>
    </main>

    <%- include('includes/footer') %>