<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Evry</title>
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="home color-scheme-auto singular header-adaptative header-auto-hide color-scheme-dark">
    <header id="site-header">
        <a class="skip-link focusable screen-reader-text button" href="#post-content" tabindex="0">Skip to content</a>
        <div id="site-branding"><strong id="site-title" class="site-title screen-reader-text h1">Info Evry</strong>
            <div id="site-logo">
                <div class="light-scheme-logo">
                    <a href="/" class="custom-logo-link" title="Info Evry • Home" rel="home">
                        <img src="img/infoevry-h-lsc.png.webp" alt="Info Evry Logo for Light Scheme" height="40"
                            loading="lazy">
                    </a>
                </div>
                <div class="dark-scheme-logo">
                    <a href="/" class="custom-logo-link" title="Info Evry • Home" rel="home">
                        <img src="img/infoevry-h-dsc.png.webp" alt="Info Evry Logo for Dark Scheme" height="40"
                            loading="lazy">
                    </a>
                </div>
            </div>
        </div>
        <ul id="header-menu" class="header-menu">
            <li class="menu-item"><a href="/" aria-current="page">Accueil</a></li>
            <li class="menu-item menu-item-has-children">
                <a href="/cours-profs">Cours &amp; Profs</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/outils">Outils</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="/contact">Contact</a></li>
        </ul>
        <button id="navigation-toggle" title="Menu" data-target="navigation-wrapper" class="no-style toggle">
            <span class="top-bar"></span> <span class="middle-bar"></span> <span class="bottom-bar"></span>
        </button>
        <button id="search-toggle" title="Search" class="no-style toggle" data-target="search-wrapper">
            <span class="search-icon"></span>
        </button>
    </header>

    <main id="site-content" style="margin-top: -7em;">
        <div id="main-content">
            <article id="entry-52" class="entry post-52 page type-page status-publish hentry">
                <header class="post-header">
                    <div class="post-info">
                        <div class="post-date"><span class="screen-reader-text">Published on 30 août 2020 • </span>
                            Updated on 30 août 2020 - 2:55</div>
                        <h1 class="post-title">Outils</h1>
                    </div>
                </header>
                <main class="post-content">
                    <details>
                        <summary>Aide</summary>
                        <ul>
                            <li><a href="https://jgthms.com/javascript-in-14-minutes/" target="_blank"
                                    rel="nofollow noopener noreferrer">JavaScript in 14 minutes</a> by Jeremy Thomas
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary>Indispensables</summary>
                        <ul>
                            <li><a href="https://kapeli.com/dash" target="_blank"
                                    rel="nofollow noopener noreferrer">Dash</a></li>
                            <li><a href="https://repl.it/" target="_blank"
                                    rel="nofollow noopener noreferrer">Repl.it</a></li>
                        </ul>
                    </details>
                    <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                    <details>
                        <summary>Editeurs</summary>
                        <ul>
                            <li><a href="https://atom.io/" target="_blank" rel="nofollow noopener noreferrer">Atom</a>
                            </li>
                            <li><a href="http://brackets.io/" target="_blank"
                                    rel="nofollow noopener noreferrer">Brackets</a></li>
                            <li><a href="http://codeblocks.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Code::Blocks</a></li>
                            <li><a href="http://www.eclipse.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Eclipse</a></li>
                            <li><a href="https://www.gnu.org/software/emacs/" target="_blank"
                                    rel="nofollow noopener noreferrer">GNU Emacs</a></li>
                            <li><a href="https://www.sublimetext.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">Sublime Text</a></li>
                            <li><a href="https://code.visualstudio.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">Visual Studio Code</a></li>
                            <li><a href="https://developer.apple.com/xcode/" target="_blank"
                                    rel="nofollow noopener noreferrer">Xcode</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Gestionnaires de Packages</summary>
                        <ul>
                            <li><a href="https://brew.sh/" target="_blank"
                                    rel="nofollow noopener noreferrer">Homebrew</a></li>
                            <li><a href="https://www.macports.org/" target="_blank"
                                    rel="nofollow noopener noreferrer">MacPorts</a></li>
                            <li><a href="https://chocolatey.org/" target="_blank"
                                    rel="nofollow noopener noreferrer">Chocolatey</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Langages</summary>
                        <ul>
                            <li><a href="http://www.oracle.com/technetwork/java/javase/overview/index.html"
                                    target="_blank" rel="nofollow noopener noreferrer">JAVA</a></li>
                            <li><a href="https://docs.oracle.com/javase/tutorial/" target="_blank"
                                    rel="nofollow noopener noreferrer">JAVA – Tutorials</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://ocaml.org/docs/install.fr.html" target="_blank"
                                    rel="nofollow noopener noreferrer">OCaml</a></li>
                            <li><a href="https://processing.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Processing</a></li>
                            <li><a href="https://www.python.org" target="_blank"
                                    rel="nofollow noopener noreferrer">Python</a></li>
                            <li><a href="https://www.apple.com/fr/swift/" target="_blank"
                                    rel="nofollow noopener noreferrer">Swift</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>LaTeX</summary>
                        <ul>
                            <li><a href="https://www.latex-project.org" target="_blank"
                                    rel="nofollow noopener noreferrer">LaTeX Project</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://tug.org" target="_blank" rel="nofollow noopener noreferrer">TeX Users
                                    Group</a></li>
                        </ul>
                        <ul>
                            <li><a href="http://www.xm1math.net/texmaker/" target="_blank"
                                    rel="nofollow noopener noreferrer">TeXmaker</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://www.authorea.com" target="_blank"
                                    rel="nofollow noopener noreferrer">Authorea</a></li>
                            <li><a href="https://www.overleaf.com" target="_blank"
                                    rel="nofollow noopener noreferrer">Overleaf</a></li>
                            <li><a href="https://www.sharelatex.com" target="_blank"
                                    rel="nofollow noopener noreferrer">ShareLaTeX</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Modélisation Objet</summary>
                        <ul>
                            <li><a href="http://staruml.io" target="_blank"
                                    rel="nofollow noopener noreferrer">StarUML</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Outils en ligne</summary>
                        <ul>
                            <li><a href="http://codepen.io" target="_blank"
                                    rel="nofollow noopener noreferrer">CodePen</a></li>
                            <li><a href="https://jsbin.com/" target="_blank" rel="nofollow noopener noreferrer">JS
                                    Bin</a></li>
                            <li><a href="https://jsfiddle.net" target="_blank"
                                    rel="nofollow noopener noreferrer">JSFiddle</a></li>
                            <li><a href="https://thimble.mozilla.org/fr/" target="_blank"
                                    rel="nofollow noopener noreferrer">Thimble</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>SGBD</summary>
                        <ul>
                            <li><a href="https://www.db-fiddle.com/" target="_blank"
                                    rel="nofollow noopener noreferrer">DB-Fiddle</a></li>
                        </ul>
                    </details>
                </main>
                <footer class="post-footer"></footer>
            </article>
        </div>
    </main>

    <aside id="site-aside">
        <nav id="navigation-wrapper" class="wrapper">
            <div class="header-block no-overlay-menu">
                <ul id="overlay-header-menu" class="overlay-header-menu menu">
                    <li class="menu-item"><a href="/" aria-current="page">Accueil</a></li>
                    <li class="menu-item menu-item-has-children">
                        <a href="/cours-profs">Cours &amp; Profs</a>
                        <div class="toggle">
                            <div class="toggle-element"></div>
                        </div>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="/outils">Outils</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div id="header-settings" class="header-block">
                <form class="settings-set" id="color-scheme-selector">
                    <div class="color-scheme-option"> <input type="radio" id="light-scheme-option"
                            class="color-scheme-input" name="color-scheme-option"> <label for="light-scheme-option"
                            class="color-scheme-label">Light</label></div>
                    <div class="color-scheme-option"> <input type="radio" id="dark-scheme-option"
                            class="color-scheme-input" name="color-scheme-option"> <label for="dark-scheme-option"
                            class="color-scheme-label">Dark</label></div>
                    <div class="color-scheme-option"> <input type="radio" id="auto-scheme-option"
                            class="color-scheme-input" name="color-scheme-option" checked=""> <label
                            for="auto-scheme-option" class="color-scheme-label">Auto</label></div>
                </form>
            </div>
        </nav>
        <div id="search-wrapper" class="wrapper">
            <form role="search" method="get" class="search-form" action="https://info-evry.fr/">
                <div id="search-container">
                    <label class="screen-reader-text" for="search-input-1">Search for …</label>
                    <input type="search" id="search-input-1" class="search-input" placeholder="Search for …" value=""
                        name="s" title="Search for …" required="">
                    <button type="submit" class="search-submit no-style" title="Search">
                        <span class="search-icon"></span>
                    </button>
                </div>
            </form>
        </div>
    </aside>

    <footer id="site-footer"> <span id="site-credit">© 2020 Info Evry. All Rights Reserved.</span></footer>

    <script defer src="js/script.js"></script>
    <script defer src="js/aemi.js"></script>
</body>

</html>